.hg__main {
	/* Nested grid */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px
						1fr;
}

#startInspection {
	padding-bottom: 1em;
	
	/* Nested Grid */
	display: grid;
}

#startInspection button {
	align-self: end;
	justify-self: start;
	width: 10em;
	height: 3em;
	vertical-align: center;
}

#inspectionSearch {
	align-self: end;
	justify-self: end;
	padding-bottom: 1em;
}

#inspectionSearch input {
	width: 15em;
	height: 3em;
}

#inspectionSearch button {
	width: 5em;
	height: 3em;
}

#inspectionList {
	grid-column: 1/3;
}

#inspectionTable {
	width: 100%;
	border: var(--my-border-color, #C0CCDA) 1px solid;
	text-align: center;
}

th {
	background-color: var(--off-white-2, #EFF2F7);
	color: var(--gray-font, gray);
	height: 5em;
	width: 20%;
	font-size: 20px;
}

tr {
	background-color: var(--white, white);
	border: #eee 3px solid;
}

tr:nth-child(odd) {
	background-color: var(--off-white, #EEE);
}

tr:hover {
	opacity: 0.5;
}

.table-header:hover {
	opacity: 1.0;
}

td {
	color: var(--gray-font, gray);
	height: 4em;
}

.table-active, .table-active:nth-child(odd) {
	background-color: var(--success-color, green);
}