.grid {
	/* 3 columns to make the content in the center */
	display: grid;
	grid-template-columns: repeat(3, 1fr);	
}

#loginForm {
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: center;
}

h1 {
	padding-top: 3em;
	padding-bottom: 1em;
}

input[type="text"], input[type="password"] {
	/* center input boxes */
	display: block;
	margin: 0 auto;
	width: 20em;
}

#registerLink {
	padding: 2em;
}

#forgotPwdLink {
	padding: 2em;
}