body {
	background-color: #E2E9EC;
	color: #47525E;
	font-family: Lato;
	font-weight: 600;
}

h1 {
	font-size: 50px;
	line-height: 50px;
}

label {
	font-size: 20px;
  	line-height: 34px;
}

.btn {
	height: 50px;
	width: 12em;
}

.btn-primary {
	background-color: #47525E;
}

a {
	color: #47525E;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}

/* To be removed after layout is complete */
.grid div {
	border: #000 1px solid;
}

.navigation {
	grid-auto-rows: 80px;
	grid-column: 1/9;
	display: grid;
	grid-template-columns: 4fr 1fr;
	background-color: #003478;
}

.navigation a {
	color: white;
}

#brandLogo {
	grid-column: 1/6;
	font-size: 40px;
	font-weight: 400;
	line-height: 33px;
	font-style: italic;
}

.profileInfo {
	justify-self: end;
}

#greeting {
	font-size: 26px;
	font-weight: 400;
	line-height: 33px;
}

#navProfilePic {
	height: 80px;
}

#inspectionList {
	grid-column: 2/8;
}